<u><b>PROBLEM STATEMENT</u></b>

Your company is expanding into new industries to diversify its portfolio. Specifically, 
1. <i>Interested in purchasing and operating airplanes for commercial and private enterprises</i> 
2. <i>Do not know anything about the potential risks of aircraft.</i>
3. <i>Determining which aircraft are the lowest risk for the company to start this new business endeavor.</i>
4. <i>Translate your findings into actionable insights to help decide which aircraft to purchase.</i>

In [28]:
# importing needed modules
import pandas as pd
import csv

## Data Loading and Initial Inspection

In this step, we load the aviation dataset from a CSV file into a Pandas DataFrame.

After loading the data, we display the first five rows of the dataset using the `head()` method. 
This allows us to:
- Verify that the data is loaded correctly
- Understand the structure of the dataset
- Identify key variables and data types

In [29]:
# reading the csv file
df = pd.read_csv('Aviation_Data.csv')
df.head()

c:\Users\SHIRU\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Checking for Missing Values

It is important to identify missing values in the dataset, as they can affect statistical results and model performance.
So the next step, we use the `isna()` method combined with `sum()` to:
- Detect the presence of missing values in each column
- Quantify how many values are missing per column

In [30]:
# checking for null values
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

## Identifying and Removing Duplicate Records

Duplicate records distort analysis results by overrepresenting certain observations. Therefore, we remove duplicates before proceeding with further analysis.

we use the `duplicated()` method combined with `sum()` to:
- Identify whether duplicate rows exist in the dataset
- Count the total number of duplicated records
- Then remove them using `dropna()` method

In [31]:
# checking for duplicates
df.duplicated().sum()

1390

In [32]:
# dropping duplicate
df.drop_duplicates(inplace=True)

In [33]:
df.duplicated().sum()

0

## Selecting Relevant Columns
Based on the problem statement, the objective is to identify aircraft types that are most suitable for our clients while presenting the lowest potential risk. So the next step is to focus on variables that directly contribute to safety, performance and reliability.
The objective is to:
- Eliminate unnecessary information
- Improve computational efficiency
- Ensure the analysis remains aligned with the goals we want to achieve

In [34]:
# converting the df into dataframe for indexing
df = pd.DataFrame(df) 
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [35]:
# selecting the needed columns to work for analysis
df_1 = df[['Injury.Severity', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Make', 'Model', 'Aircraft.Category', 'Aircraft.damage', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type','Purpose.of.flight']]
df_1.head()

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight
0,Fatal(2),2.0,0.0,0.0,0.0,Stinson,108-3,NaN,Destroyed,No,1.0,Reciprocating,Personal
1,Fatal(4),4.0,0.0,0.0,0.0,Piper,PA24-180,NaN,Destroyed,No,1.0,Reciprocating,Personal
2,Fatal(3),3.0,NaN,NaN,NaN,Cessna,172M,NaN,Destroyed,No,1.0,Reciprocating,Personal
3,Fatal(2),2.0,0.0,0.0,0.0,Rockwell,112,NaN,Destroyed,No,1.0,Reciprocating,Personal
4,Fatal(1),1.0,2.0,NaN,0.0,Cessna,501,NaN,Destroyed,No,NaN,NaN,Personal

## Filtering the Dataset by Aircraft Category

To ensure the analysis remains aligned with the problem objective, we refine the dataset by focusing on aircraft categorized as **Airplanes**. This removes other aircraft types (such as helicopters or gliders) that may have different operational characteristics and risk profiles.

By filtering the dataset to include only rows where the `Aircraft.Category` is `"Airplane"`, we:
- Maintain consistency in the type of aircraft being analyzed
- Improve the relevance and comparability of the results

This step ensures that the analysis is based on a homogeneous and appropriate subset of the data.

In [36]:
# filtering out the airplane category
df_1 = df_1[df_1['Aircraft.Category'] == 'Airplane']
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight
5,Non-Fatal,NaN,NaN,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,Non-Fatal,0.0,0.0,0.0,1.0,PIPER,PA42,Airplane,Substantial,No,2.0,NaN,NaN
90332,Non-Fatal,0.0,0.0,0.0,1.0,CIRRUS DESIGN CORP,SR22,Airplane,Substantial,No,1.0,NaN,Personal
90335,Non-Fatal,0.0,0.0,0.0,1.0,SWEARINGEN,SA226TC,Airplane,Substantial,No,2.0,NaN,NaN
90336,Minor,0.0,1.0,0.0,0.0,CESSNA,R172K,Airplane,Substantial,No,1.0,NaN,Personal
90345,Non-Fatal,0.0,0.0,0.0,1.0,AMERICAN CHAMPION AIRCRAFT,8GCBC,Airplane,Substantial,No,1.0,NaN,Personal

In [ ]:
# looking for null values after filtering and narrowing down into airplane category
df_1.isna().sum()

Injury.Severity            814
Total.Fatal.Injuries      3165
Total.Serious.Injuries    3224
Total.Minor.Injuries      2878
Total.Uninjured            900
Make                         9
Model                       31
Aircraft.Category            0
Aircraft.damage           1282
Amateur.Built               17
Number.of.Engines         2754
Engine.Type               4226
Purpose.of.flight         3739
dtype: int64

To simplify analysis and improve readability, we combine the `Make` and `Model` columns into a single variable named `Aircrafts`. This creates a unified identifier for each aircraft type ie Airplane.

Merging these two columns allows us to:
- Treat each aircraft as a individual entity during analysis
- Avoid ambiguity when different manufacturers produce models with similar names
- Enable clearer grouping and comparison across aircraft category

In [44]:
# merging the make and model columns to a variable called aircrafts
df_1['Aircrafts'] = df_1['Make'] + ' ' + df_1['Model']
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,NaN,NaN,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking for null values after merging the two columns
df_1.isna().sum()

Injury.Severity            178
Total.Fatal.Injuries      3082
Total.Serious.Injuries    3086
Total.Minor.Injuries      2735
Total.Uninjured            801
Make                         7
Model                       18
Aircraft.Category            0
Aircraft.damage            612
Amateur.Built                6
Number.of.Engines          669
Engine.Type                  0
Purpose.of.flight         1571
Aircrafts                   24
dtype: int64

In [ ]:
# dropping the null values in the new column called Aircrafts, the make column and the model column
df_1.dropna(subset=['Aircrafts', 'Make', 'Model'], inplace=True)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,NaN,NaN,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

Accurate injury data is critical for assessing the safety and risk profile of different aircraft types. In this dataset, some columns contain missing values, which can interfere with calculations and comparisons.

To address this, we replace missing values (`NaN`) with `0` in the following columns:
- `Total.Fatal.Injuries`, `Total.Minor.Injuries`, `Total.Serious.Injuries`, `Total.Uninjured`

This approach assumes that missing entries indicate no reported injuries rather than unknown values. Filling these fields with zeros allows us to:
- Perform numerical aggregations without errors
- Maintain consistency across injury metrics
- Ensure accurate risk-related analysis

In [48]:
# replacing the nan values with 0 in the Total.Fatal.Injuries column, Total.Minor.Injuries, Total.Serious.Injuries and Total.Uninjured
df_1['Total.Fatal.Injuries'] = df_1['Total.Fatal.Injuries'].fillna(0)
df_1['Total.Minor.Injuries'] = df_1['Total.Minor.Injuries'].fillna(0)
df_1['Total.Serious.Injuries'] = df_1['Total.Serious.Injuries'].fillna(0)
df_1['Total.Uninjured'] = df_1['Total.Uninjured'].fillna(0)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

The `Engine.Type` column is important for analyzing aircraft performance and risk. Missing values in this column will lead to inaccurate conclusions if included

So we remove any rows where `Engine.Type` is `NaN` using the `dropna()` method, to ensures that all remaining records have valid engine type information.

By dropping these incomplete records, we:
- Preserve the quality and reliability of the dataset
- Ensure accurate grouping and analysis by engine type

In [49]:
# dropping the nan values in the engine type column
df_1.dropna(subset=['Engine.Type'], inplace=True)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking the number of null values after dropping the nan values in the engine type column
df_1.isna().sum()

Injury.Severity            178
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Make                         0
Model                        0
Aircraft.Category            0
Aircraft.damage            610
Amateur.Built                6
Number.of.Engines          667
Engine.Type                  0
Purpose.of.flight         1569
Aircrafts                    0
dtype: int64

The `Number.of.Engines` column is important for understanding aircraft design and potential risk factors. Some records have missing values, which could interfere with analysis or calculations.

So we replace missing values (`NaN`) with `0` using the `fillna()` method. This approach assumes that missing entries indicate no recorded engine information.

Filling missing values with zero allows us to:
- Perform numerical calculations without errors
- Maintain consistency across the dataset
- Ensure accurate risk and performance analysis related to engine count

In [56]:
# replacing the nan values in the number of engine with 0
df_1['Number.of.Engines'] = df_1['Number.of.Engines'].fillna(0)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking the number of null values after replacing the nan values in the number of engine with 0
df_1.isna().sum()

Injury.Severity            178
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Make                         0
Model                        0
Aircraft.Category            0
Aircraft.damage            610
Amateur.Built                6
Number.of.Engines            0
Engine.Type                  0
Purpose.of.flight         1569
Aircrafts                    0
dtype: int64

The `Amateur.Built` column indicates whether an aircraft was built by an amateur, which can be an important factor in assessing risk and safety. Records with missing values in this column do not provide useful information for this analysis.

To maintain topnotch quality, we remove any rows where `Amateur.Built` is `NaN` using the `dropna()` method. This ensures that all remaining records clearly indicate whether an aircraft was amateur-built or not.

By removing these incomplete entries, we:
- Preserve the reliability of our analysis
- Ensure consistent and accurate comparisons
- Avoid introducing uncertainty into safety and risk assessments

In [58]:
# dropping the null values in the Amateur.Built column cause we only one if its an amateur built or not
df_1.dropna(subset=['Amateur.Built'], inplace=True)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking the number of null values after dropping the null values in the Amateur.Built column
df_1.isna().sum()

Injury.Severity            178
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Make                         0
Model                        0
Aircraft.Category            0
Aircraft.damage            610
Amateur.Built                0
Number.of.Engines            0
Engine.Type                  0
Purpose.of.flight         1567
Aircrafts                    0
dtype: int64

The `Aircraft.damage` column indicates the type of damage sustained by the aircraft. For meaningful analysis of aircraft safety and risk, it is very essential
Therefore we remove any rows where `Aircraft.damage` is `NaN` using the `dropna()` method. This allows us to focus the analysis on aircraft with clearly recorded damage outcomes.

By performing this step, we:
- Maintain the integrity of damage-related analysis
- Avoid ambiguity in assessing aircraft risk profiles
- Ensure accurate grouping and comparison by damage type

In [60]:
# dropping the mising values in the aircraft damage column cause we only want to see the type of damage being experienced
df_1.dropna(subset=['Aircraft.damage'], inplace=True)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking the number of null values after dropping the mising values in the aircraft damage column
df_1.isna().sum()

Injury.Severity             69
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Make                         0
Model                        0
Aircraft.Category            0
Aircraft.damage              0
Amateur.Built                0
Number.of.Engines            0
Engine.Type                  0
Purpose.of.flight         1140
Aircrafts                    0
dtype: int64

Understanding the types of injuries reported in the dataset is essential for assessing aircraft safety and risk.

In this step, we extract the unique values from the `Injury.Severity` column using the `unique()` method, allowing us to:
- Identify all possible injury severity categories present in the dataset
- Gain insight into the distribution of injury types
- Inform subsequent analysis, such as aggregating incidents by severity or calculating risk metrics

In [63]:
# looking at the injury severity column
injury_severity = df_1['Injury.Severity'].unique()
injury_severity

array(['Non-Fatal', 'Fatal(1)', 'Fatal(2)', 'Fatal(3)', 'Incident',
       'Fatal(8)', 'Fatal(4)', 'Fatal(7)', 'Fatal(6)', 'Fatal(5)',
       'Fatal(12)', 'Fatal(14)', 'Fatal(11)', 'Fatal(17)', 'Fatal(10)',
       'Fatal(27)', 'Fatal(16)', 'Fatal(54)', 'Fatal(160)', 'Fatal(97)',
       'Fatal(125)', 'Unavailable', 'Fatal(35)', 'Fatal(228)', 'Fatal(9)',
       'Fatal(18)', 'Fatal(169)', 'Fatal(131)', 'Fatal(13)', 'Fatal(24)',
       'Fatal(65)', 'Fatal(113)', 'Fatal', nan, 'Minor', 'Serious'],
      dtype=object)

Next we remove rows where `Injury.Severity` is `NaN` using the `dropna()` method, to ensures that every record in the dataset contains valid injury severity information.

By performing this step, we:
- Preserve the integrity and accuracy of injury-related analysis
- Enable reliable grouping and aggregation by injury severity
- Ensure that subsequent risk assessments are based on complete data

In [64]:
# dropping the nan values apprearing on the Injury.Severity column
df_1.dropna(subset=['Injury.Severity'], inplace=True)
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E

In [ ]:
# checking the number of null values after dropping the nan values in the Injury.Severity column
df_1.isna().sum()

Injury.Severity              0
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Make                         0
Model                        0
Aircraft.Category            0
Aircraft.damage              0
Amateur.Built                0
Number.of.Engines            0
Engine.Type                  0
Purpose.of.flight         1084
Aircrafts                    0
dtype: int64

## Statistics of Numeric Data

The `describe()` method provides a quick statistical overview, for a better understanding of the numerical variables in the dataset including:

- **Count**: Number of non-missing entries in each numeric column
- **Mean**: Average value
- **Standard Deviation (std)**: Spread of the data
- **Min and Max**: Range of values
- **25%, 50%, 75% percentiles**: distribution

In [ ]:
# looking at the statistics of the numeric data in the dataframe
df_1.describe()

,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Number.of.Engines
count,22682.000000,22682.000000,22682.000000,22682.000000,22682.000000
mean,0.404682,0.245128,0.220704,3.095230,1.095362
std,3.315584,1.587298,2.977534,20.787365,0.393766
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,1.000000,1.000000
75%,0.000000,0.000000,0.000000,2.000000,1.000000
max,228.000000,137.000000,380.000000,588.000000,8.000000

## Data Analysis


Calculating Total Injuries

To quantify the overall risk associated with each aircraft, we create a new column `Total.Injuries` by summing the different types of injuries:
`Total.Fatal.Injuries`, `Total.Serious.Injuries`, `Total.Minor.Injuries`

This provides a single measure of risk per aircraft, making it easier to compare and rank aircraft based on historical incident data.

In [68]:
df_1['Total.Injuries'] = df_1['Total.Fatal.Injuries'] + df_1['Total.Serious.Injuries'] + df_1['Total.Minor.Injuries']
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts,Total.Injuries
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9,1.0
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140,0.0
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B,0.0
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A,1.0
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150,0.0
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG,0.0
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60,0.0
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500,1.0
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E,0.0

Creating a Weighted Risk Score

we create a **`Risk.Score`** by assigning weights to each injury type for better capturing of the severity incidents that will help us come up with better analysis

- **Fatal injuries** = 3 points  
- **Serious injuries** = 2 points  
- **Minor injuries** = 1 point

In [69]:
df_1['Risk.Score'] = df_1['Total.Fatal.Injuries']*3 + df_1['Total.Serious.Injuries']*2 + df_1['Total.Minor.Injuries']*1
df_1

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Make,Model,Aircraft.Category,Aircraft.damage,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Aircrafts,Total.Injuries,Risk.Score
5,Non-Fatal,0.0,0.0,1.0,44.0,Mcdonnell Douglas,DC9,Airplane,Substantial,No,2.0,Turbo Fan,NaN,Mcdonnell Douglas DC9,1.0,1.0
7,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,140,Airplane,Substantial,No,1.0,Reciprocating,Personal,Cessna 140,0.0,0.0
8,Non-Fatal,0.0,0.0,0.0,2.0,Cessna,401B,Airplane,Substantial,No,2.0,Reciprocating,Business,Cessna 401B,0.0,0.0
12,Non-Fatal,0.0,0.0,1.0,0.0,Bellanca,17-30A,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Bellanca 17-30A,1.0,1.0
13,Fatal(1),1.0,0.0,0.0,0.0,Cessna,R172K,Airplane,Destroyed,No,1.0,Reciprocating,Personal,Cessna R172K,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,Non-Fatal,0.0,0.0,0.0,1.0,CESSNA,150,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 150,0.0,0.0
90106,Non-Fatal,0.0,0.0,0.0,2.0,CESSNA,177RG,Airplane,Substantial,No,1.0,Reciprocating,Personal,CESSNA 177RG,0.0,0.0
90120,Non-Fatal,0.0,0.0,0.0,1.0,BEECH,B-60,Airplane,Substantial,No,2.0,Reciprocating,Personal,BEECH B-60,0.0,0.0
90194,Minor,0.0,1.0,0.0,0.0,STEPHEN J HOFFMAN,MS-500,Airplane,Substantial,Yes,1.0,Reciprocating,ASHO,STEPHEN J HOFFMAN MS-500,1.0,2.0
90226,Non-Fatal,0.0,0.0,0.0,2.0,LUSCOMBE,8E,Airplane,Substantial,No,1.0,Reciprocating,Personal,LUSCOMBE 8E,0.0,0.0

Aggregating Total Injuries by Aircraft Type.

To evaluate the overall risk of each aircraft, we aggregate the `Total.Injuries` metric at the aircraft column. 

- We use the `groupby()` method on the `Aircrafts` column.
- Sum the `Total.Injuries` for each aircraft to get the total historical injury count.
- Sort the results in ascending order to identify aircraft with the lowest total injuries first.

This aggregation allows us to rank aircraft by risk and focus on the safest options for our clients.

In [70]:
aircraft_risk = df_1.groupby('Aircrafts')['Total.Injuries'].sum().sort_values()
aircraft_risk

Aircrafts
HENDERSON CLIFFORD S SUPER BEAR CSH-1      0.0
DASSAULT/SUD FAN JET                       0.0
DAVENPORT LONG EZ                          0.0
PIPER PA18 - 150                           0.0
DAVID S MEEK SUN DEVIL                     0.0
                                         ...
Mcdonnell Douglas MD-11                  200.0
CESSNA 172                               200.0
BOEING 737                               202.0
Boeing 747-300                           254.0
Boeing 747-2B6B                          380.0
Name: Total.Injuries, Length: 7325, dtype: float64